.tac {
    text-align: center;
}

/*body {*/
    /*background-color: rgb(62, 163, 143);*/
/*}*/

.container {
    padding-top: 60px;
}

.container .titI {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.container .int {
    padding-left: 20px;
    color: white;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    border-color: rgb(152, 201, 191);
}

.int::-webkit-input-placeholder {/*Chrome/Safari*/
    color:rgb(152, 201, 191);
}
.int::-moz-placeholder {/*Firefox*/
    color:rgb(152, 201, 191);
}
.int:-ms-input-placeholder {/*IE*/
    color:rgb(152, 201, 191);
}

input.getCode{
    position: absolute;
    background-color: transparent;
    border: 0;
    right: 20px;
    top: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
    border-left: 1px solid rgb(152, 201, 191);
    color: white;
}

.resBtn {
    font-size: 16px;
    width: 100%;
    background-color: #fff;
    color: rgb(62, 163, 143);
    height: 40px;
    line-height: 30px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}