<div class="container">
  <p class="tac"><i class="titI">Universal</i></p>
  <p class="tac"><i class="titI">Master</i></p>
  <p class="mt40">
    <input type="number" class="form-control bgColorMain int" placeholder="请输入手机号" ng-model="phone">
    <input type="button" class="getCode" ng-click="getSms()" value="获取验证码" style="background-color:transparent; border: 0;border-left: 1px solid rgb(152, 201, 191);">
  </p>
  <p class="mt10">
    <input type="text" class="form-control bgColorMain int" placeholder="请输入验证码" ng-model="code">
  </p>
  <p class="pt15">
    <!--<button class="btn resBtn" ui-sref="submitData" style="margin-bottom: 10px;">注册跳转测试</button>-->
    <button class="btn resBtn" ng-click="registerMaster()">注册</button>
  </p>
</div>

<!--<div class="weui_dialog_alert" style="display: none;">-->
  <!--<div class="weui_mask"></div>-->
  <!--<div class="weui_dialog">-->
    <!--<div class="weui_dialog_hd"> <strong class="weui_dialog_title">警告</strong>-->
    <!--</div>-->
    <!--<div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>-->
    <!--<div class="weui_dialog_ft">-->
      <!--<a href="javascript:;" class="weui_btn_dialog colorWhite">确定</a>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->



<!--<div class="weui-dialog weui-dialog&#45;&#45;visible" style="display: none;">-->
  <!--<div class="weui-dialog__hd">-->
    <!--<strong class="weui-dialog__title">警告！</strong>-->
  <!--</div>-->
  <!--<div class="weui-dialog__bd"></div>-->
  <!--<div class="weui-dialog__ft">-->
    <!--<a href="javascript:;" class="weui-dialog__btn primary">确定</a>-->
  <!--</div>-->
<!--</div>-->